{% extends '_layouts/detail.njk' %}

{% block story %}
  <h2>It was a dark and stormy night</h2>
  <h5>Captain's log, Oct. 18, 2018</h5>
  <p>You can tell that Captain Sham is a very real pirate because he has an eye patch and peg leg which are things you cannot buy at a store and only people who are pirates have.</p>
{% endblock %}