{% extends '_layouts/detail.njk' %}

{% block story %}
  <h2>It was a dark and stormy night</h2>
  <h5>Captain's log, Oct. 18, 2018</h5>
  <p>Today Captain Sham preyed upon Aunt Josephines fear of realators by sending her to curdled cave...... which is...... for sale.</p>
{% endblock %}