{% extends '_layouts/base.njk' %}

{% block page_title %}The Ship's Log{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col">
      <h1> Very real and very believeable true stories from pirates. </h1>
        <p>
          Captian Sham requests that you take a look at  <a href="2018-10-18.njk"> these very authentic and very believable diary entries</a> because they were published online and that makes them true. Believe me. You can believe Captian Sham.
        </p>
        {% for entry in data.entries %}
          <h3 class="entry-headline"><a href="{{ entry.url }}">{{ entry.title }}</a></h3>
          <p class="entry-date">{{ entry.date }}</p>
          <hr>
        {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
